* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#navbar {
  width: 100%;
  background: #333;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
  /* margin-left: 15px; */
}

#navbar ul li a:hover {
  background: #555;
  border-radius: 5px;
}
